
html, body{
	position:absolute;
	width:100%;
	height:100%;
}

#top-select{
	position:fixed;
	text-align: center;
	background-color:#77f;
	width:100%;
	height:20%;
	margin:0;
}

#main{
	margin:10% 0 0 0;
	width:100%;
	height:80%;
}

#music, #video, #player{
	position:fixed;
	background-color: #bbf;
	height:100%;
	width:50%;
}

#music, #video{
	-moz-transition:1s ease;
	-ms-transition:1s ease;
	-webkit-transition:1s ease;
	-o-transition:1s ease;

	backface-visibility:hidden;
}

#video{
	-moz-transform:rotateY(180deg);
	-ms-transform:rotateY(180deg);
	-webkit-transform:rotateY(180deg);
	-o-transform:rotateY(180deg);
}



#labels{
	text-align: center;
	background-color:#ff9;
	height:10%;
	margin:0;
}

#musicSelection, #videoSelection{
	text-align: center;
	padding:10px;
	overflow-x: hidden;
	overflow-y: scroll;
	height:70%;
}

#player{
	margin-left:50%;
}

canvas{
	background-color: #000;
	width:100%;
	height:45%;
}

#controls{
	background-color:#999;
	height:25%;
	margin:0px;
}

#backButton, #playPause, #fwdButton{
	height:100%;
}

#backButton{
	background-image: url("../images/buttonbk.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#playPause{
	background-image: url("../images/playPause.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#fwdButton{
	background-image: url("../images/buttonfwd.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#volume{
	height:10%;
	background-image:url("../images/sliderBackground.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

