*{
	margin:0;
	padding:0;
}

html, body{
	position:absolute;
	width:100%;
	height:100%;
}

#top-select{
	position:fixed;
	background-color:#777;
	width:100%;
	height:20%;
	margin:0;
}

#main{
	margin:10% 0 0 0;
	width:100%;
	height:80%;
}

#music, #video, #player{
	position:fixed;
	background-color: #555;
	height:100%;
	padding:0;
}

#music, #video{
	-moz-transition:1s ease;
	-ms-transition:1s ease;
	-webkit-transition:1s ease;
	-o-transition:1s ease;

	backface-visibility:hidden;
}

#video{
	width:50%;
	height:100%;
	-moz-transform:rotateY(180deg);
}



#labels{
	text-align: center;
	background-color:#aaa;
	height:10%;
	margin:0;
}

#musicSelection, #videoSelection{
	text-align: center;
	padding:10px;
	overflow-x: hidden;
	overflow-y: scroll;
	height:70%;
}

#player{
	margin-left:50%;
}

#mainP{
	background-color:#666;
	width:100%;
	height:50%;
}

#controls{
	background-color:#999;
	height:25%;
	margin:0px;
}

#volume{
	background-color:#777;
	height:25%;
}

