*{
	margin:0;
	padding:0;
}

html, body{
	position:absolute;
	width:100%;
	height:100%;
}

#top-select{
	position:fixed;
	background-color:#777;
	width:100%;
	height:20%;
}

#top-select h1{
	position:inline-block;
	float:left;
	font-size:6em;
	margin-right:200px;
}

#main{
	margin:10% 0 0 0;
	width:100%;
	height:80%;
}

#music, #video, #player{
	position:fixed;
	background-color: #555;
	height:100%;
	padding:0;
}

#video{
	z-index:0;
	width:50%;
	height:100%;
	-moz-transform:rotateX(180deg);
	backface-visibility:hidden;
}

#videoSelection{
	text-align: center;
	padding:10px;
	overflow-x: hidden;
	overflow-y: scroll;
}

#labels{
	text-align: center;
	background-color:#aaa;
	height:10%;
	margin:0;
}

#musicSelection{
	text-align: center;
	padding:10px;
	overflow-x: hidden;
	overflow-y: scroll;
}

#mainP{
	background-color:#666;
	width:100%;
	height:50%;
}

#controls{
	background-color:#999;
	height:25%;
	margin:0px;
}

#volume{
	background-color:#777;
	height:25%;
}

